<html>
    <head>
        <title>Hello World</title>
    </head>
    <body>
        <h1>Hello</h1>
        <p>Its time now <%= @time %></p>
        <p>Say <a href="/say/goodbye">Goodbye</a></p>
    </body>
</html>