[account-selector] .uk-dropdown {
    width: auto;
}

.entity-banner {
    background: beige;
    padding-top: 20px;
}

.currency-panel {
    background: white;
    border: none;
}

.currency-banner {
    padding-top: 20px;
}
