[account-selector] .uk-dropdown {
    width: auto;
}

.entity-banner {
    background: beige;
    padding-top: 20px;
}

.currency-panel {
    background: white;
    border: none;
}

.currency-banner {
    padding-top: 20px;
}

.signature {
}

.buyer-signature {
    font-family: 'Desyrel';
    font-size: 4em;
    margin: 1em auto;
}

.seller-signature {
    font-family: 'Journal';
    font-size: 4em;
    margin: 1em auto;
    text-align:center;
}

.contract-setup-url {
    word-wrap: break-word;
}

.qr-code {
    width: 200px;
    margin: auto;
}

.not-signed, .signed {
    font-size: 1.4em;
    text-align: center;
    line-height: 2em;
}

.accept-panel {
    margin-top: 1em;
  }
