@font-face{
	font-family: 'Desyrel';
	src: url('fonts/desyrel_regular/desyrel-webfont.eot');
	src: url('fonts/desyrel_regular/desyrel-webfont.eot?iefix') format('eot'),
	     url('fonts/desyrel_regular/desyrel-webfont.woff') format('woff'),
	     url('fonts/desyrel_regular/desyrel-webfont.ttf') format('truetype'),
	     url('fonts/desyrel_regular/desyrel-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Journal';
	src: url('fonts/journal_regular/journal-webfont.eot');
	src: url('fonts/journal_regular/journal-webfont.eot?iefix') format('eot'),
	     url('fonts/journal_regular/journal-webfont.woff') format('woff'),
	     url('fonts/journal_regular/journal-webfont.ttf') format('truetype'),
	     url('fonts/journal_regular/journal-webfont.svg#webfont') format('svg');
}
